{% extends "layouts/one-login.html" %}

{% block pageTitle %}
    Sign In – GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="create-success" method="post">
                <h1 class="govuk-heading-l">Check your phone</h1>

                <div class="govuk-inset-text">
                    We have sent a code to your phone number ending with <span
                            class="govuk-!-font-weight-bold">{{ data['obfNumber'] or '6789' }}</span>
                </div>

                <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

                <div class="govuk-form-group">

                    <label class="govuk-label" for="otp">Enter the 6 digit security code</label>

                    <input class="govuk-input govuk-input--width-5" id="otp" name="create-sms-otp" type="text"
                           autocomplete="one-time-code" inputmode="numeric" spellcheck="false">

                </div>


                <button class="govuk-button" data-module="govuk-button">Continue</button>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Problems receiving the code?
              </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            We can
                            <a href="create-otp-sms">send another code</a> or you can
                            <a href="create-otp-sms">use a different phone number</a>. <br>
                            <br>
                            <a href="create-choose-otp-method">Get a code another way</a>
                        </p>
                    </div>
                </details>
            </form>
        </div>
    </div>

{% endblock %}
