{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Other addresses for the deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Other addresses for the deceased</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="other-addresses-redirect" method="post">

        {{ govukRadios({
          name: "has-other-addresses",
          classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Was the deceased living at another address, including a hospital or care home, before they died?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
