{% extends "layouts/tgo.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Voter registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Was the person registered to vote (with Bristol City Council)?</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="09-blue-badge" method="post">

        {{ govukRadios({
          name: "registered-to-vote",
          fieldset: {
            legend: {
              text: "This includes eligibility to vote locally and for national elections in the UK."
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "not-sure",
              text: "I'm not sure"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
