{% extends "layouts/tgo.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Voter registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="09-council-services" method="get">

        {{ govukInput({
          name: "hospital-name",
          label: {
            text: "Which hospital was it?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: 'Name of hospital'
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
