{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Blue badge – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Did the person have a Blue Badge?</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="blue-badge-redirect" method="post">

        {{ govukRadios({
          name: "has-blue-badge",
          fieldset: {
            legend: {
              text: "This is issued to people who have disabilities by the council"}
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "not-sure",
              text: "I'm not sure"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
