{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Blue badge – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What to do about the Blue Badge
      </h1>

      <form class="form" action="10-keeper-of-vehicle" method="post">

        <p class="govuk-body">We recommend returning to the council</p>
        <p class="govuk-body">Details</p>
        <p class="govuk-body">Details</p>
        <p class="govuk-body">Details</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
