{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Driving license – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        We found a driving licence for the deceased
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="12-passport" method="post">

        <p class="govuk-body">We have contacted the Driver and Vehicle Licensing Agency (DVLA) and they have confirmed that the deceased has an active drivers licence.</p>
        <p class="govuk-body">The DVLA will now cancel this licence and a letter will be be sent to confirm its cancellation. You can cut up the photo card license and do not need to return it to the DVLA.</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
