{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Passport – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We found a passport for the deceased
      </h1>

      <form class="form" action="14-dwp" method="get">

        <p class="govuk-body">We have contacted His Majesty’s Passport Office (HMPO) and they have confirmed that the deceased has an active passport.</p>

        <p class="govuk-body">HMPO will now cancel this licence and a letter will be be sent to confirm its cancellation. You can cut a corner off the passport and do not need to return it to the Passport Office</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
