//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.ccms-loader {
    border: 10px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
  }
  .ccms-loader__fast {
    animation: spin 0.65s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }