{% extends "layouts/tgo.html" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
  Local council – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% if data['has-other-addresses'] == 'yes' %}
        Local councils to notify about the death
        {% else %}
        Local council to notify about the death
        {% endif %}
      </h1>

      <form class="form" action="07a-council-services" method="get">
        <p class="govuk-body">For this address</p>
        <div class="govuk-inset-text">
          {{ data['address'] }}
        </div>

        <p class="govuk-body">Our records indicate the local council was:</p>

        {{ govukInsetText({
          html: "<b>Bristol City Council</b>"
        }) }}

        {{ govukRadios({
          name: "correct-local-council",
          fieldset: {
            legend: {
              text: "Is this correct?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "not-sure",
              text: "I'm not sure"
            }
          ]
        }) }}
        <p class="govuk-body">In areas with more than one level of council, for example where there are county and district councils, notifications will be directed to the relevant authority.</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
