{% extends "layouts/tgo.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
    Bristol Council services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">We will inform Bristol City Council about the person who has died</h1>
            <p class="govuk-body">Bristol City Council may contact you with follow up information.</p>

            {{ govukWarningText({
                text: "If the person who died lived in council accommodation, paid council tax, or received housing benefit there may be changes and the relevant team will contact you with updates.",
                iconFallbackText: "Warning"
            }) }}

            <form class="form" action="10-blue-badge" method="post">

                {{ govukRadios({
                    name: "blue-badge",
                    fieldset: {
                        legend: {
                            text: "Did the person have a blue badge issued by Bristol City Council?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        },
                        {
                            value: "not-sure",
                            text: "I'm not sure"
                        }
                    ]
                }) }}

                <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>

        </div>
    </div>

{% endblock %}
