{% extends "layouts/tgo.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Department for Work and Pensions – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        We can inform the Department of Work and Pensions about the death
      </h1>
      <p class="govuk-body">We can notify DWP, which will contact you about applying for bereavement support.</p>

      <form class="form" action="14-hmrc" method="get">


        {{ govukWarningText({
          html: "<p><b>If the person who died received any of the following payments, these will stop within 3 weeks:</b></p>
            <ul class=\"govuk-list govuk-list--bullet\"><b>

<li>Assistance or attendance allowance</li>
<li>Carers allowance</li>
<li>Benefits like Universal credit or PiP</li>
<li>State pension payments</li></b></ul>",
          iconFallbackText: "Warning"
        }) }}

        {{ govukRadios({
          name: "inform-dwp",
          fieldset: {
            legend: {
              text: "Do you want to inform DWP now?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, inform DWP"
            },
            {
              value: "no",
              text: "No, I will inform DWP myself"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
