{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Public section pension – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We found a public sector pension
      </h1>

      <form class="form" action="17-check-your-answers" method="get">

        <p class="govuk-body">We have identified an active public sector pension for the deceased with My Civil Service pension</p>

        {{ govukRadios({
          name: "inform-pension-provider",
          fieldset: {
            legend: {
              text: "Do you want us to inform the provider which is My Civil Service pension?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, inform the pension provider My Civil Service pension"
            },
            {
              value: "no",
              text: "No, I do not want to inform the provider My Civil Service pension"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
