{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you need to share – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="employer-details" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="work-data-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What information do you need to share?
              </h1>
            </legend>
            <div id="work-data-hint" class="govuk-hint">
              Choose at least one identification document to share. You can choose as many as you need.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="work-data" name="work-data" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="work-data">
                  A valid UK Passport
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="work-data-2" name="work-data" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="work-data-2">
                  A photo identification document issued in another country
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="work-data-3" name="work-data" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="work-data-3">
                  An active UK Visa (Skilled Worker Visa, Business Visitor Visa, etc)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="work-data-4" name="work-data" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="work-data-4">
                  A Basic DBS check
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="work-data-5" name="work-data" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="work-data-5">
                  National Insurance Number
                </label>
              </div>
            </div>

          </div>

          </fieldset>

          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </div>



      </form>

    </div>
  </div>

{% endblock %}
