{% extends "layouts/tgo.html" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
    {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
    <!-- Blank header with no service name for the start page -->
    {{ govukHeader() }}
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript">
        var $element = document.querySelector('#step-by-step-navigation')
        var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
    </script>
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <div class="app-step-nav-header">
        <span class="app-step-nav-header__part-of">Part of</span>
        <a class="app-step-nav-header__title" href="#">
            What to do when someone dies: step by step
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Tell Us Once
            </h1>

            <p class="govuk-body">Tell Us Once is a service that lets you report a death to most government
                organisations in one go.
                <br>
                This guide is also available in <a href="#">Easy Read format</a>.</p>


            {{ govukInsetText({
                html: "The Tell Us Once service is not available in Northern Ireland. Find out <a href=\"#\">who to tell about a
        death in Northern Ireland.</a>"
            }) }}

            <p class="govuk-body">When you have finished, you will be able to save or print a list of the organisations
                you have notified.</p>

            <h2 class="govuk-heading-l">How to use Tell Us Once</h2>
            <p class="govuk-body">
                A registrar will explain the Tell Us Once service when you <a href="#">register the death</a>.
                They will either:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>complete the Tell Us Once service with you</li>
                <li>give you a unique reference number so you can use the service yourself online or by phone</li>
            </ul>

            <p class="govuk-body">
                The registrar will give you a number to call. This includes <a href="#">Relay UK</a> if you cannot hear
                or
                speak on the phone.
                If you're a British Sign Language (BSL) user, there's a <a href="#">video relay service</a> if you're on
                a
                computer -
                find out how to <a href="#">use the service on mobile or tablet</a>.
            </p>

            {{ govukInsetText({
                text: "You must use the service within 28 days of getting your unique reference number."
            }) }}

            <p class="govuk-body">
                If you cannot register the death because an inquest is underway, you can still <a href="#">ask a
                    registrar</a> for a unique reference number.
                You'll need to get an <a href="#">interim death certificate from the coroner holding the inquest
                    first</a>.
            </p>

            <h2 class="govuk-heading-l">
                Before you use Tell Us Once
            </h2>

            <p class="govuk-body">
                You'll need the Tell Us Once reference number that you got from the registrar.
                <br>
                You'll also need the following details of the person who died:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>address</li>
                <li>date they died</li>
                <li>name, address and contact details of the person or company dealing with their estate (property,
                    belongings and money), known as their 'executor' or 'administrator'
                </li>
                <li>if there's a surviving spouse or civil partner, the name, address, telephone number and the National
                    Insurance number or date of birth of the spouse or civil partner
                </li>
                <li>if there's no surviving spouse or civil partner or their spouse or civil partner is not able to deal
                    with their affairs, the name and address of their next of kin
                </li>
                <li>if they died in a hospital, nursing home, care home or hospice, the name and address of that
                    institution
                    - you’ll also be asked if the stay was for 28 days or more
                </li>
            </ul>

            <p class="govuk-body">You may also need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>if they owned any vehicles, the vehicle registration numbers</li>
                <li>if they were getting services from their local council, such as Housing Benefit payments or Council
                    Tax
                    reductions, the name of their local council and which services they were getting
                </li>
            </ul>

            {{ govukInsetText({
                text: "You need permission from any surviving spouse or civil partner, the next of kin, executor, administrator
        or anyone who was claiming joint benefits or entitlements with the person who died, before you give their
        details. "
            }) }}

            <h2 class="govuk-heading-l">Use Tell Government Once online</h2>

            <a href="01-tgo-start" role="button" draggable="false"
               class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
               data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                     viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>

            <h2 class="govuk-heading-l">Organisations Tell Us Once will contact</h2>

            <p class="govuk-body">Tell Us Once will notify:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>HM Revenue and Customs (HMRC) - to deal with personal tax and to cancel benefits and credits, for
                    example Child Benefit and tax credits (you need to <a
                            href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/bereavement-and-deceased-estate">contact
                        HMRC</a> separately for business taxes, like VAT)
                </li>
                <li>Department for Work and Pensions (DWP) - to cancel benefits and entitlements, for example Universal
                    Credit or State Pension
                </li>
                <li>Passport Office - to cancel a British passport</li>
                <li>Driver and Vehicle Licensing Agency (DVLA) - to cancel a licence, remove the person as the keeper of
                    up
                    to 5 vehicles and end the vehicle tax (<a href="https://www.gov.uk/tell-dvla-about-bereavement">you
                        must contact DVLA separately if you either sell the vehicle
                        or keep it and tax it in your own name</a>)
                </li>
                <li>the local council - to cancel Housing Benefit, Council Tax Reduction (sometimes called Council Tax
                    Support), a Blue Badge, inform council housing services and remove the person from the electoral
                    register
                </li>
                <li>Veterans UK - to cancel or update Armed Forces Compensation Scheme payments</li>
                <li>Social Security Scotland - to cancel benefits and entitlements from the Scottish Government, for
                    example
                    Scottish Child Payment
                </li>
            </ul>

            <p class="govuk-body">
                HMRC and DWP will contact you about the tax, benefits and entitlements of the person who died.
            </p>
            <p class="govuk-body">
                Tell Us Once will also contact some public sector pension schemes so that they cancel future pension
                payments. They’ll notify:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>My Civil Service Pension</li>
                <li>NHS Pensions for NHS staff in England and Wales</li>
                <li>Armed Forces Pension Scheme</li>
                <li>Scottish Public Pension Agency schemes for NHS staff, teachers, police and firefighters in
                    Scotland
                </li>
                <li>Local Government Pension Schemes (LGPS)</li>
            </ul>

            <p class="govuk-body">
                There’s a <a href="#">different process to update property records</a> if the person who died owns land
                or
                property.
            </p>

            <h2 class="govuk-heading-l">If you do not use Tell Us Once</h2>

            <p class="govuk-body">
                You must let the relevant organisations know about the death yourself if either:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>you choose not to use the Tell Us Once service</li>
                <li>you cannot use Tell Us Once because the person <a href="#">died when they were living abroad</a>
                </li>
            </ul>

            <p class="govuk-body"><a href="#">Tell organisations about the death yourself.</a></p>

            <h2 class="govuk-heading-l">
                Banks and other financial organisations
            </h2>

            <p class="govuk-body">
                Contact the person’s bank or mortgage, pension or insurance providers to close or change the details of
                their accounts.
            </p>
        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-step-nav-related app-step-nav-related--singular">
                <h2 class="app-step-nav-related__heading">
                    <span class="app-step-nav-related__pretitle">Part of</span>
                    <a href="#">
                        What to do when someone dies: step by step
                    </a>
                </h2>
            </div>

            <div data-module="appstepnav" id="step-by-step-navigation"
                 class="app-step-nav govuk-!-display-none-print js-hidden" data-show-text="Show" data-hide-text="Hide"
                 data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
                <ol class="app-step-nav__steps">
                    <li class="app-step-nav__step js-step" id="register-the-death">
                        <div class="app-step-nav__header js-toggle-panel" data-position="1">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span
                              class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Register the death
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
                        </div>

                    </li>
                    <li class="app-step-nav__step js-step" id="arrange-the-funeral">
                        <div class="app-step-nav__header js-toggle-panel" data-position="2">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span
                              class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Arrange the funeral
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">

                        </div>

                    </li>
                    <li class="app-step-nav__step js-step app-step-nav__step--active step-is-shown" aria-current="step"
                        id="tell-government-about-the-death" data-show="true">
                        <div class="app-step-nav__header js-toggle-panel" data-position="3">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span
                              class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Tell government about the death
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
                            <p class="app-step-nav__paragraph">The Tell Us Once service allows you to inform all the
                                relevant government departments when someone dies.</p>
                            <p class="app-step-nav__paragraph"><a href="#">Use the Tell Us Once service to tell
                                    government</a></p>
                            <p class="app-step-nav__paragraph"><a href="#">If you cannot use Tell Us Once, tell
                                    government
                                    yourself</a></p>
                            <p class="app-step-nav__paragraph">You'll also need to tell banks, utility companies, and
                                landlords or housing associations yourself.</p>
                        </div>

                    </li>
                    <li class="app-step-nav__step js-step" id="check-if-you-can-get-bereavement-benefits">
                        <div class="app-step-nav__header js-toggle-panel" data-position="5">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span
                              class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Check if you can get bereavement benefits
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
                        </div>

                    </li>
                    <li class="app-step-nav__step js-step" id="deal-with-own-benefits">
                        <div class="app-step-nav__header js-toggle-panel" data-position="6">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Deal with your own benefits, pension and taxes
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
                        </div>

                    </li>
                    <li class="app-step-nav__step js-step" id="check-if-you-need-to-apply-to-stay-in-the-uk">
                        <div class="app-step-nav__header js-toggle-panel" data-position="7">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Check if you need to apply to stay in the UK
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-check-apply-stay-uk-7">
                        </div>

                    </li>
                    <li class="app-step-nav__step js-step" id="apply-for-probate">
                        <div class="app-step-nav__header js-toggle-panel" data-position="8">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span
                              class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Apply for probate and check if you need to pay inheritance tax
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">
                        </div>

                    </li>
                    <li class="app-step-nav__step js-step" id="deal-with-the-estate">
                        <div class="app-step-nav__header js-toggle-panel" data-position="9">
                            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span
                              class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                                <span class="js-step-title">
                Deal with the estate
              </span>
                            </h3>
                        </div>

                        <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">

                        </div>

                    </li>
                </ol>
            </div>


        </div>
    </div>
{% endblock %}
