{% extends "layouts/rad.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block backLink %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Report a death
      </h1>

      <p class="govuk-body">
        This service helps you to report a death to government organisations, local councils, pension holders (public
        and private sector), and other entities.
      </p>
      <p class="govuk-body">
        It will save you the time required to contact each one separately and also allows you to get updates on the
        progress of your report with each organisation.
      </p>


      <form class="form" action="01-tgo-start" method="post">
        {{ govukRadios({
          name: "save-return-action",
          fieldset: { legend: {
            text: "What do you want to do?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
            {
              value: "start-new",
              text: "Start a new report",
              hint: {text: "You can save your progress at any point. You'll need a GOV.UK One Login. If you don't have one you can create one." }
            },
            {
              value: "resume",
              text: "Resume a saved report",
              hint: {text: "You'll need to sign in to your GOV.UK One Login." }
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Confirm</button>

      </form>

    </div>
  </div>

{% endblock %}
