{% extends "layouts/rad.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
  Find death registration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Find death registration details
      </h1>

      <form class="form" action="04-registration-details-found" method="post">
         {{ govukInput({
            label: {
              text: "Death registration number",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "The registrar gave you this when the death was registered.
          It is 12 digits and a mix of numbers and letters. For example, AB 123 C 456 DE 7"
            },
            id: "death-registration-number",
            name: "death-registration-number"
          }) }}

        {{ govukInput({
          label: {
            text: "Surname of the person who's died",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "deceased-surname",
          name: "deceased-surname"
        }) }}

        {{ govukDateInput({
          id: "date-of-death",
          namePrefix: "date-of-death",
          fieldset: {
            legend: {
              text: "Date of death",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
