{% extends "layouts/rad.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Registration details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check these details are correct</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Jane Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            04/10/1950
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registration district
          </dt>
          <dd class="govuk-summary-list__value">
            Lewisham
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of death
          </dt>
          <dd class="govuk-summary-list__value">
            20/01/2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of registration
          </dt>
          <dd class="govuk-summary-list__value">
            23/01/2023
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Address</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            House number or name
          </dt>
          <dd class="govuk-summary-list__value">
            15
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Road
          </dt>
          <dd class="govuk-summary-list__value">
            Bradville Gardens
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Town/City
          </dt>
          <dd class="govuk-summary-list__value">
            Bristol
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            County
          </dt>
          <dd class="govuk-summary-list__value">
            Avon and Somerset
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            BS41 9AS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
        </div>
      </dl>

      {{ govukDetails({
        summaryText: "If any of these details are wrong",
        html: "<p class=\"govuk-body\">You cannot continue using Tell Government Once if any of the registration details are wrong.</p>
<p class=\"govuk-body\"><b>What you need to do next</b></p>
<p class=\"govuk-body\">Contact the register office where the death was registered. Explain that the death registration details are wrong on Tell Government Once.</p>
<p class=\"govuk-body\">The registrar will be able to correct the details and give you a new Tell Government Once reference number to use.</p>"
      }) }}

      <form action="05-married-or-civil-partnership" method="post" novalidate>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
