{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}

{% block pageTitle %}
    Relationship to deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Do you have permission from the spouse, next of kin or person dealing with the
                estate?</h1>

            <form class="form" action="do-you-have-permission-redirect" method="post">

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: "do-you-have-permission",
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        }
                    ]
                }) }}


                {{ buttonSaveAndReturn() }}

            </form>

        </div>
    </div>

{% endblock %}
