{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}

{% block pageTitle %}
  Your contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Find your address
      </h1>
      <form class="form" action="search-address-redirect" method="post">

        {{ govukInput({
          label: {
            text: "House number or name"
          },
          classes: "govuk-input--width-10",
          id: "house-number-name",
          name: "house-number-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "postcode",
          name: "postcode"
        }) }}

        <p class="govuk-body"><a href="06d-enter-address-manually">Enter address manually</a></p>
        <button class="govuk-button" data-module="govuk-button">Find address</button>
        <p>
          <a href="one-login/gov-account" class="govuk-link govuk-link--no-visited-state">Save and return later</a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
