{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Your contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Select address
      </h1>

      <form class="form" action="06e-confirm-address" method="post">

        {{ govukRadios({
          name: "address",
          fieldset: {
            legend: {
              html: "<p class=\"govuk-body\">3 addresses found for <b>BS31 8BS</b> and <b>33</b>. <a href=\"06a-find-address\">Search again</a></p>"
            }
          },
          items: [
            {
              value: "33 Arcadia Gardens, Bristol, BS31 8BS",
              text: "33 Arcadia Gardens, Bristol, BS31 8BS"
            },
            {
              value: "33A Arcadia Gardens, Bristol, BS31 8BS",
              text: "33A Arcadia Gardens, Bristol, BS31 8BS"
            },
            {
              value: "33B Arcadia Gardens, Bristol, BS31 8BS",
              text: "33B Arcadia Gardens, Bristol, BS31 8BS"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Use this address</button>
        <p class="govuk-body"><a href="06d-enter-address-manually">Enter address manually</a></p>
        <p>
          <a href="one-login/gov-account" class="govuk-link govuk-link--no-visited-state">Save and return later</a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
