{% extends "layouts/tgo.html" %}

{% block pageTitle %}
  Your contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        No address found
      </h1>

      <p>We could not find an address that matches <b>BS31 8BS</b> and <b>0</b>. You can search again or enter the address manually.</p>

      <p class="govuk-body"><a href="06a-find-address">Search again</a></p>
      <p class="govuk-body"><a href="06d-enter-address-manually">Enter address manually</a></p>

    </div>
  </div>

{% endblock %}
