{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  Bristol Council services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We will inform Bristol City Council about the death</h1>
      <p class="govuk-body">
        We can either let all the council team know at the same time or you can choose which teams you want us to
        inform.
      </p>
      <p class="govuk-body">
        Bristol City Council may contact you with follow up information.
      </p>

      <form class="form" action="08-blue-badge.html" method="get">

        {% set checkboxesHtml %}
          {{ govukCheckboxes({
            name: "nationality",
            fieldset: {
              legend: {
                text: "Which of these service teams would you like to inform?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "electoral",
                text: "Electoral services",
                hint: {text: "To remove the person from the register used for voting in local and national elections"}
              },
              {
                value: "council-housing",
                text: "Council housing team",
                hint: {text: "If they lived in council accommodation"}
              },
              {
                value: "housing-benefit",
                text: "Housing benefit team",
                hint: {text: "If the received housing benefit"}
              },
              {
                value: "council-tax",
                text: "Council tax team",
                hint: {text: "If they paid council tax or they received a discount or exemption"}
              },
              {
                value: "adult-services",
                text: "Adult services",
                hint: {text: "If they received financial assistance for care at home or for being in a nursing home. Or if they received other services like Meals on Wheels"}
              },
              {
                value: "library-team",
                text: "Library team",
                hint: {text: "If they had library membership"}
              },
              {
                value: "concessionary-travel",
                text: "Concessionary travel",
                hint: {text: "If they had a bus or travel pass issued by the council"}
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "council-services",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "all",
              text: "Inform all council teams at the same time"
            },
            {
              value: "some",
              text: "Let me choose which council teams are informed",
              conditional: {
              html: checkboxesHtml
            }
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "If the person who died lived in council accommodation, paid council tax, or received housing benefit there may be changes and the relevant team will contact you with updates.",
          iconFallbackText: "Warning"
        }) }}

        {{ buttonSaveAndReturn() }}

      </form>

    </div>
  </div>

{% endblock %}
