{% extends "layouts/tgo.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Other addresses for the deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Find the other address
      </h1>

      <form class="form" action="further-address-search-redirect" method="post">

        {{ govukInput({
          label: {
            text: "House number or name"
          },
          classes: "govuk-input--width-10",
          id: "further-address-house-number-name",
          name: "further-address-house-number-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "further-address-postcode",
          name: "further-address-postcode"
        }) }}

        <p class="govuk-body"><a href="07d-enter-further-address-manually">Enter address manually</a></p>
        <button class="govuk-button" data-module="govuk-button">Find address</button>
      </form>

    </div>
  </div>

{% endblock %}
