{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  Bristol Council services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We will inform Bristol City Council about the death</h1>
      <p class="govuk-body">
        Council services include things like housing benefit, council tax, electoral services and concessionary travel.
      </p>

      <p class="govuk-body">
        We can either let all the council team know or you can choose exactly which ones you want us to inform. Bristol City
        Council may contact you with follow up information.
      </p>

      <form class="form" action="07a-council-services" method="post">
        {{ govukRadios({
          name: "council-services",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "all",
              text: "Inform all teams at Bristol City Council"
            },
            {
              value: "some",
              text: "Let me choose which council teams are informed"
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "If the person who died lived in council accommodation, paid council tax, or received housing benefit there may be changes and the relevant team will contact you with updates.",
          iconFallbackText: "Warning"
        }) }}

        {{ buttonSaveAndReturn() }}

      </form>

    </div>
  </div>

{% endblock %}
