{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Were they in hospital – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="08-in-hospital" method="post">

        {{ govukRadios({
          name: "in-hospital",
          fieldset: {
            legend: {
              text: "Were they in hospital for 28 days or more before their death?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: 'If the person who has died was receiving benefits, the Department of Work and Pensions (DWP) may need to make adjustments'
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "not-sure",
              text: "I'm not sure"
            }
          ]
        }) }}

        {{ buttonSaveAndReturn() }}

      </form>

    </div>
  </div>

{% endblock %}
