{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
    Bristol Council services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="09-blue-badge" method="post">

                {{ govukRadios({
                    name: "blue-badge",
                    fieldset: {
                        legend: {
                            text: "Did they have a blue badge issued by Bristol City Council?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {text: "Blue Badges, also known as disability parking permits, are managed by local councils."},
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        },
                        {
                            value: "not-sure",
                            text: "I'm not sure"
                        }
                    ]
                }) }}

                {{ buttonSaveAndReturn() }}

            </form>

        </div>
    </div>

{% endblock %}
