{% extends "layouts/tgo.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
    Blue badge – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="09-blue-badge" method="post">

                {{ govukRadios({
                    name: "blue-badge",
                    fieldset: {
                        legend: {
                            text: "Did they have a Blue Badge?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {text: "Blue Badges, also known as disability parking permits, are managed by local councils."},
                    items: [
                        {
                            value: "yes-bristol",
                            text: "Yes, issued by Bristol City Council"
                        },
                        {
                            value: "yes-lancaster",
                            text: "Yes, issued by Camden Council"
                        },
                        {
                            value: "no",
                            text: "No"
                        },
                        {
                            value: "not-sure",
                            text: "I'm not sure"
                        }
                    ]
                }) }}

                <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>

        </div>
    </div>

{% endblock %}
