{% extends "layouts/save-and-return.html" %}

{% block pageTitle %}
  Blue badge – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What to do about the Blue Badge
      </h1>

      <form class="form" action="10-keeper-of-vehicle" method="get">

        <p class="govuk-body">The Blue Badge should be returned to the issuing council as displayed on the badge.</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
