{% extends "layouts/save-and-return.html" %}

{% from "macros/button-save-and-return/macro.njk" import buttonSaveAndReturn %}

{% block pageTitle %}
  Passport – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We found a passport
      </h1>

      <form class="form" action="13-dwp" method="get">

        <p class="govuk-body">His Majesty’s Passport Office (HMPO) has confirmed that the person who has died had an active passport.</p>

        <p class="govuk-body">HMPO will now cancel this passport and a letter will be sent to confirm its cancellation. You can cut a corner off the passport and do not need to return it to the Passport Office</p>

        {{ buttonSaveAndReturn() }}

      </form>

    </div>
  </div>

{% endblock %}
