{% extends "layouts/rad.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <p class="govuk-body">Please check that the information on this page is correct. It will be used to inform relevant councils, government departments and organisations.</p>

      <h2 class="govuk-heading-m">About you</h2>

      <h3 class="govuk-heading-s">Personal details</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Mark Smith
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-s">Your home address</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            House number or name
          </dt>
          <dd class="govuk-summary-list__value">
            33
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Road
          </dt>
          <dd class="govuk-summary-list__value">
            Arcadia Gardens
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            City
          </dt>
          <dd class="govuk-summary-list__value">
            Bristol
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            County
          </dt>
          <dd class="govuk-summary-list__value">
            Avon and Somerset
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            BS31 8BS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            07771 991393
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-s">Other</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your relationship with the person who's died
          </dt>
          <dd class="govuk-summary-list__value">
            Spouse
          </dd>
        </div>
      </dl>

      <form action="16-information-sent" method="get" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
