{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"><a class="govuk-back-link"
                                               href="javascript:window.history.back()">Back</a></div>
    <div class="govuk-grid-column-one-half"><p
          class="govuk-!-text-align-right govuk-!-margin-top-3 govuk-body govuk-!-font-size-16"><a href="#">Exit
          and save progress</a></p></div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Report a death
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 4 of 14 sections.</p>

      <ol class="govuk-prototype-kit-task-list">
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> Death registration
            details
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="04-registration-details-found">
                  Confirm registration details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> About you
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="05-married-or-civil-partnership">
                  Your relationship to the deceased
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="06-your-contact-details">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Local council and
            hospital details
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="08-local-council">
                  Local council
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="09-in-hospital">
                  Were they in hospital before they died?
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Blue badge and vehicles
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="10-blue-badge">
                  Blue badge details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag">In progress</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="11-keeper-of-vehicle">
                  Vehicles owned by the deceased
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">5. </span> Driving licence and
            passport
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="12-driving-license">
                  Driving licence confirmation
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="13-passport">
                  Passport confirmation
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">6. </span> Departments to notify
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="14-dwp">
                  Department for Work and Pensions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="15-hmrc">
                  HM Revenue & Customs
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">7. </span> Pensions
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="16-public-sector-pension">
                  Public sector pensions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">8. </span> Check and submit
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                  Check your answers
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Cannot start yet</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                  Submit
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
