{% extends "layouts/tgo.html" %}

{% block pageTitle %}
    Sign In – GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Create a GOV.UK One Login or sign in
                    {% if data.prototype['serviceType'] === 'identity' %}
                        <!-- to prove your identity -->
                        {% elif data.prototype['serviceType'] === 'save' %}
                        to save your progress
                        {% elif data.prototype['serviceType'] === 'account' %}
                        <!-- to create your account -->
                    {% endif %}
                </h1>

                <p>You’ll need:
                <p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>an email address</li>
                    <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
                </ul>
                <div class="govuk-inset-text">
                    GOV.UK One Login is also available <a href="#">in Welsh (Cymraeg)</a>.
                </div>
            <form action="signup/create-email" method="post" class="form">
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Create your GOV.UK One Login
                    </button>
                </div>
            </form>
            <p class="govuk-body">If you already have a GOV.UK One Login you can <a href="signin/signin-email">sign in</a>.</p>


            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      About GOV.UK One Login
                    </span>
                </summary>
                <div class="govuk-details__text">
                    GOV.UK One Login is new. At the moment you can only use it with:<br><br>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Apply for a vehicle operator licence</li>
                        <li>Apply to become a registered social worker in England</li>
                        <li>GOV.UK email subscriptions</li>
                        <li>ALITE (Licensing for International Trade and Enterprise)</li>
                        <li>Ofqual subject matter specialist account</li>
                        <li>Request a basic DBS check</li>
                        <li>Sign your mortgage deed</li>
                        <li>Tell government about someone who has died</li>
                    </ul>
                    <br>
                    <p>GOV.UK One Login does not work with all government accounts or services yet (for example
                        Government Gateway or Universal Credit).</p>
                    <p>In the future, you‘ll be able to use your GOV.UK One Login to access all services on GOV.UK.</p>
                </div>

            </details>
        </div>
    </div>

{% endblock %}
