{% extends "layouts/tgo.html" %}

{% block pageTitle %}
    Sign In – GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You've created your GOV.UK One Login</h1>

            <form class="form" action="../../02-before-you-start" method="get">


                <button id="button" class="govuk-button" data-module="govuk-button">Continue</button>
            </form>

        </div>
    </div>

{% endblock %}
