{% extends "layouts/one-login.html" %}

{% block pageTitle %}
    Sign In – GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Set up your authenticator app
            </h1>

            <p class="govuk-body">
                1. Open your authenticator app on your smartphone, tablet or computer.
            </p>

            {{ govukDetails({
                summaryText: "I don’t have an authenticator app",
                html: "<p>You can download an authenticator app for your smartphone or tablet from your app store.

        <br>
        <br>
        If you don’t have a smartphone or tablet, search online for an authenticator app for your computer.

        You can use any authenticator app.</p> "
            }) }}


            <p class="govuk-body">
                2. Use your authenticator app to scan the QR code or type the secret key into your authenticator app.
                Some authenticator apps call the secret key a ‘code’.
            </p>

            <img src="/public/images/auth-app-qr-code.png">
            <br>
            <br>
            {{ govukDetails({
                summaryText: "I cannot scan the QR code",
                html: "<p>You can enter the secret key into your authenticator app instead. <br> <br>Secret key: <br> <strong> QWMA HC7F SZQW YIJJ RRIT X64U KCSS OHSK </strong> <br> <br>
        Some authenticator apps call the secret key a ‘code’.

        <br>
        <br>
        If you don’t have a smartphone or tablet, search online for an authenticator app for your computer.

        You can use any authenticator app.</p> "
            }) }}


            <p class="govuk-body">
                3. The authenticator app will show a security code.
            </p>
            <p class="govuk-body">
                4. Enter the security code.
            </p>

            <div class="govuk-form-group">

                <label class="govuk-label" for="otp">Security code</label>

                <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                    This is the 6 digit number shown in your authenticator app
                </div>
                <input class="govuk-input govuk-input--width-5" id="otp" name="create-otp-auth" type="text"
                       spellcheck="false" autocomplete="false">

            </div>
            <form class="form" action="create-success" method="post">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
                <p><a href="create-choose-otp-method">Get a code another way</a></p>
            </form>
        </div>
    </div>


{% endblock %}
