{% extends "layouts/tgo.html" %}

{% block pageTitle %}
    Sign In – GOV.UK One Login – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Check your email
            </h1>

            <div class="govuk-inset-text">
                <p>We have sent an email to: <strong>{{ data['emailAddress'] or 'email@address.com' }}</strong></p>
            </div>

            <p>The email contains a 6 digit security code.</p>
            <p>Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>

            <p>Your code will expire after 2 hours.</p>

            <form class="form" action="create-password" method="post">

                <div class="govuk-form-group">

                    <label class="govuk-label" for="otp">Enter the 6 digit security code</label>

                    <input class="govuk-input govuk-input--width-5" id="otp" name="create-email-otp" type="text"
                           autocomplete="one-time-code" inputmode="numeric" spellcheck="false">

                </div>


                <button class="govuk-button" data-module="govuk-button">Continue</button>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
                    </summary>
                    <div class="govuk-details__text">
                        We can

                        <a href="create-email">send another code</a> or you can
                        <a href="create-email">use a different email address</a>. <br>
                        <br>
                    </div>
                </details>
            </form>
        </div>
    </div>
{% endblock %}
