{% extends "layouts/rad.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{#            <form method="post" action="04-told-dwp">#}

                {{ govukRadios({
                    name: "told-dwp",
                    classes: "govuk-radios--inline",
                    fieldset: {
                        legend: {
                            text: "Have you already told the Department for Work and Pensions (DWP) about the death?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    hint: {text: "For example, you may have already called DWP or sent them a letter."},
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    href: "05-inform-dwp"
                }) }}
{#            </form>#}

        </div>
    </div>
{% endblock %}



