{% extends "layouts/rad.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check your answers
            </h1>
            <p class="govuk-body">
                Please check that the information on this page is correct.
            </p>

            <h2 class="govuk-heading-m">
                About the person who has died
            </h2>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {text: "Name"},
                        value: {text: "John Smith"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Date of birth"},
                        value: {text: "04/10/1950"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Registration district"},
                        value: {text: "Milton Keynes"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Date of death"},
                        value: {text: "20/08/2023"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Home address"},
                        value: {html: "15 Bradville Gardens<br />Milton Keynes<br />Buckinghamshire<br />MK41 9AS"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">
                Informing DWP
            </h2>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {text: "Have you already informed DWP?"},
                        value: {text: "No"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Do you want to inform DWP now?"},
                        value: {text: "Yes"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "National Insurance Number of the person who has died"},
                        value: {text: "QQ 12 34 56 A"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Are you the husband, wife or partner of the person who has died?"},
                        value: {text: "Yes"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">
                Your details
            </h2>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {text: "Name"},
                        value: {text: "Joan Smith"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Contact telephone number"},
                        value: {text: "QQ 12 34 56 A"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    },
                    {
                        key: {text: "Email address"},
                        value: {text: "joan.smith@example.com"},
                        actions: {items: [{text: "Change", href: "#"}]}
                    }
                ]
            }) }}



            {{ govukButton({
                text: "Continue",
                href: "09-information-sent"
            }) }}
        </div>
    </div>
{% endblock %}



