{% extends "layouts/rad.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block backLink %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: "Information sent to DWP",
                html: "Your reference number<br><strong>TGO SBPT GLAS</strong>"
            }) }}
            <p class="govuk-body">
                <a href='#' class="govuk-link govuk-link--no-visited-state" onclick="print()">
                    Print or save this page
                </a>
            </p>

            <p class="govuk-body">
                Thank you for reporting John Smith’s death to DWP.
                Please take a note of your reference number in case you need to contact us.
                Using this service does not form any part of a claim to benefits.
            </p>

            <h2 class="govuk-heading-l">
                What happens next
            </h2>
            <p class="govuk-body">
                DWP have been informed of the death to adjust pensions and other benefits.
                If they need more information - including bank details - they will contact you, or the spouse, using the
                contact details you supplied.
            </p>
            <p class="govuk-body">
                You may also be eligible for bereavement support and help with funeral costs, DWP will contact you to
                confirm the info you have provided and to find out if you’re eligible for financial help. More
                information about financial support can be found below.
            </p>
            <h2 class="govuk-heading-l">
                Continue to use Report a Death
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-8">
                This service can also inform other departments and organisations ahead of your registration appointment.
                This will save you time and prevent you having to inform each one separately. The information you
                provide will not be submitted until after the registration is complete.
            </p>
            {{ govukButton({
                text: "Continue to Report a Death"
            }) }}

            <p class="govuk-body">
                <a href="#" class="govuk-link">Exit this service</a>
            </p>

            <hr class="govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-l">
                Financial support information
            </h2>
            <p class="govuk-body">
                You could be <a href="#" class="govuk-link">eligible for help with funeral costs</a> if you get certain
                benefits.
            </p>
            <p class="govuk-body">
                If your husband, wife or civil partner has died, and you're under State Pension age, you could be
                <a href="#" class="govuk-link">entitled to Bereavement Support Payment</a>.
            </p>
        </div>
    </div>
{% endblock %}



