{% extends "layouts/tgo.html" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block pageTitle %}
  Local council – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Local council details
      </h1>

      <form class="form" action="08-registered-to-vote" method="post">

        <p class="govuk-body">Our records indicate their local council was:</p>

        {{ govukInsetText({
          html: "<b>Bristol City Council</b>"
        }) }}

        {{ govukRadios({
          name: "correct-local-council",
          fieldset: {
            legend: {
              text: "Is this correct?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "not-sure",
              text: "I'm not sure"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
