{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UK passport
          </dt>
          <dd class="govuk-summary-list__value">
            <img src="https://gdx-vision.up.railway.app/public/images/example-passport.jpeg" alt="Example passport open to ID page" width="360">
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> UK passport</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Basic DBS check
          </dt>
          <dd class="govuk-summary-list__value">
            Result clear
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> -->
        </div>
      </dl>

      <h2 class="govuk-heading-m">Employer details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Future Employer Ltd
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="employer-details">
              Change
              <span class="govuk-visually-hidden"> future employer Ltd</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            hr@futureemployer.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="employer-details">
              Change
              <span class="govuk-visually-hidden"> UK passport</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="consent" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          I confirm these details are correct
        </button>

      </form>

    </div>
  </div>
{% endblock %}
