{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your information has been shared</h1>
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
      <div class="govuk-panel__body">
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

    </div>
  </div>

{% endblock %}
