{% extends "layout.html" %}

{% block pageTitle %}
  Consent to share your information – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We need your consent to share your information
      </h1>

      <p>The Government Digital Service (GDS) will share the result of your checks with the employer you have named. The employer will not see your personal information, only the outcome of the check.
      </p>

      <p>For details about how we store and process your information, see our <a href="#">privacy notice (opens in a new tab)</a>.</p>
    
      <p>Do you consent to share:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>HM Passport Office sharing your passport details with GDS</li>
        <li>Disclosure and Barring Service sharing your Basic DBS check with GDS</li>
        <li>GDS confirming to your employer that you are eligible to start work</li>
      </ul>
      <form class="form" action="confirmation" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="data-consent-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              I consent to share my eligibility with the employer
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-consent" name="data-consent" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="data-consent">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-consent-2" name="data-consent" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="data-consent-2">
                No
              </label>
            </div>
          </div>
      
        </fieldset>
        
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
      
     
    </div>
  </div>

{% endblock %}
