{% extends "layout.html" %}

{% block pageTitle %}
  Consent to share your information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We need your consent to share your information
      </h1>

      <p>The Government Data Exchange will share your information with your new employer.</p>
      <p>You can enter the employers details in the next step.</p>

    
      <p>Do you consent to share:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your UK passport</li>
        <li>your Basic DBS check</li>
      </ul>
      <form class="form" action="confirmation" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="data-consent-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              I consent to share my details with my employer
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-consent" name="data-consent" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="data-consent">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-consent-2" name="data-consent" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="data-consent-2">
                No
              </label>
            </div>
          </div>
      
        </fieldset>
        
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
      <p>For details about how we store and process your information, see our <a href="#">privacy notice (opens in a new tab)</a>.</p>
     
    </div>
  </div>

{% endblock %}
