
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GDX Vision
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GDX Vision      
        <span class="govuk-caption-l govuk-!-padding-top-3">Discovery – Oct 2022</span>

      </h1>
      

      <p>The GDX team are not building this service. It is fictional.</p>

      <h2 class="govuk-heading-m"> <a href="/signin-email">Demo prototype</a></h2>

    </div>
  </div>

{% endblock %}
