{% extends "layout.html" %}

{% block pageTitle %}
Enter your password – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter your password now</h1>

      <form class="form" action="signin-2fa" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Password
          </label>
          <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <p><a href="">I've forgotten my password</a></p>

      </form>

    </div>
  </div>

{% endblock %}
