{% extends "layout.html" %}

{% block pageTitle %}
Sign in to your GOV.UK account
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="signin-password" method="get">

        <h1 class="govuk-heading-l">Searching for your GOV.UK account</h1>
  
        <div class="ccms-loader ccms-loader__fast govuk-!-margin-bottom-6"></div>
  
          <button id="button2" class="govuk-button govuk-!-margin-top-4 govuk-visually-hidden" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

  <script type="text/javascript">
    spinnerTimer()
  
    function spinnerTimer() {
      setTimeout(function () {
        // proceed
        document.getElementById('button2').click()
      }, 2000)
    }
  
  </script>

{% endblock %}
